.article-section article {
	max-width: 400px;
	width: 100%;
	border: 2px;
}

.section-more {
	padding-left: 400px;
	color: #707070;
	text-decoration: none;
}


.imgsize{
	width: 483px;
	height: 282px;
	object-fit: cover;
}

header {
	margin: 100px 100px;
}

h5{
	padding-left: 1000px;
}

header a {
	text-decoration: none;
}


.font-size{
	font-size: 30px;
}

h2 {
	font-size: 40px;
	color: #707070;
}

footer{
	background-color: #2E2E2E;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 1300px;
}