


.imgsize{
	width: 483px;
	height: 282px;
	 object-fit: cover;
}

.color{
	font: deeppink;
}

.bg-purple{
	background-color: mediumpurple ;
}

.logo-size{
	width: 100px;
	height: 100px;
	border-radius: 50%
}

.font-size{
	font-size: 30px;
}

h2 {
	font-size: 40px;
	color: #707070;
}